In [ ]:
# Lab 2
Data Loading, Storage, Cleaning and Assembly with Python
### Learning objectives 
Upon successful completion of this lab, you will have demonstrated the abilities to: 
1. Manipulating data streams 
2. Working with flat and structured files
3. Interacting with relational databases
4. Interacting with web-based data
5. Merging multiple datasets
6. Working with untidy data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
1. Load customer.csv file into dataframe customer, print the data.

In [ ]:
2. Load invoice.csv file into dataframe invoice, print the data.

In [ ]:
3. Count the number of invoices per customer form the invoice dataframe. Hint: call value_counts() function on CUS_CODE in dataframe invoice and print the result. value_counts() returns a dictionary of the list of unique values and the frequency of each.

In [ ]:
4. Add the following row in dataframe customer: 10020 Smith James that correspond to customer code, last name and first name respectively. Then print dataframe customer.

In [ ]:
5. Merge the customer and invoice dataframes and show all customers from dataframe customer.

In [ ]:
6. Merge the customer and invoice dataframes and show all matched and unmatched rows from both dataframes.

In [ ]:
7. Merge the two dataframes customer and invoice into dataframe customerInvoice using inner join.

In [ ]:
8. Write customerInvoice data to a customerInvoice.csv file.

In [ ]:
9.Load the three datasets from https://github.com/jakevdp/data-USstates/ into dataframes called population, area and abbreviation

In [ ]:
10.Print the three dataframes you have created in last step one by one

In [ ]:
11.Do a many-to-one merge to give us the full state name along with the population.Pick the columns you will use for merging

In [ ]:
12.Your output from the last commans is only displaying data for Alabama state, kindly fix your code to display information for all the states.

In [ ]:
13. Is Puerto Rico included in your result set? If not, fix your code to add it as a new state

In [ ]:
14. Now merge the result set with area so we can see the following information as one:
state/region 	ages 	year 	population 	state 	area (sq. mi)

In [ ]:
15. Load titanic.csv file into dataframe named titanic, print the data

16. Pivot the dataframe to hold information in the following format:
class 	                                  First 	Second  	  Third
sex 			
female  	                              0.968085  	0.921053 	0.500000
male 	                                  0.368852  	0.157407 	0.135447

In [ ]:
17. Pivot the table further to hold information in the following format:
     	    class 	First 	Second 	Third
sex 	age 			
female 	(0, 18] 	0.909091 	1.000000 	0.511628
(18, 80] 	0.972973 	0.900000 	0.423729
male 	(0, 18] 	0.800000 	0.600000 	0.215686
(18, 80] 	0.375000 	0.071429 	0.133663

In [ ]:
18.Pivot the table further to hold information in the following format:
fare 	survived
class 	First 	Second 	Third 	First 	Second 	Third
sex 						
female 	106.125798 	21.970121 	16.118810 	91.0 	70.0 	72.0
male 	67.226127 	19.741782 	12.661633 	45.0 	17.0 	47.0

In [ ]:
For the rest of the lab, you need to have access to mySQL server, run the given script to create tables and do the rest of the lab after that.

In [ ]:
19. Write the command to establish a connection to the database, write the necessary imports as well.

In [ ]:
20.Write a query to retrieve data from the table called "countries"

In [ ]:
21.Write a query to report the street address and city of all locations that their city name starts with ‘M’. 
Provide the alias “Street Address” for the street address column.

In [ ]:
22.Write a query to count the total number of employees working in each department.

In [ ]:
23. Write a query to print the name of employee along with the complete address of their department.

In [ ]:
24.Close the connection